<div class="page-header">
    <h1>Meglévő recept módosítása</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.nev}}
                has-error
            {{/if}}
        ">
            <label for="nev" class="col-lg-2 control-label">Név</label>
            <div class="col-lg-10">
                <input class="form-control" id="nev" name="nev" type="text" value="{{data.nev}}">
                {{#if validationErrors.nev}}
                    <span class="help-block">{{validationErrors.nev.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.leiras}}
                has-error
            {{/if}}
        ">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="leiras" name="leiras">{{data.leiras}}</textarea>
                <span class="help-block">Írd le az elkészítési folyamatot!</span>
                {{#if validationErrors.leiras}}
                    <span class="help-block">{{validationErrors.leiras.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="/recipes/list">Vissza</a>
                <button type="reset" class="btn btn-default">Alaphelyzet</button>
                <button type="submit" class="btn btn-primary">Módosít</button>
            </div>
        </div>
    </fieldset>
</form>        